* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 150vh;
    background: linear-gradient(lightblue, white);
}
/* Additional Styles */
input {
    width: 200px;
}

button {
    margin: 20px auto;
    display: block;
}

img {
    max-height: 300px;
}

h2 {
    margin-bottom: 0;
}

table {
    margin: 20px auto;
    
}
table, th, td {
    border: 1px solid black;
    background-color: white;
    padding: 0px 5px;
}


.non-veg-item {
    background-color: red;
}
.unknown-maybe-item {
    background-color: yellow;
}